@using MarvelApi_Mvc.Models.ViewModels.Home
@model HomeViewModel

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>MarvelApi - Api Project for Marvel Heroes</title>
</head>

<body>
	<section id="banner">
		<div id="backtotop">
			<a href="#banner" id="backtotop-value"><i class="fa-solid fa-arrow-up"></i></a>
		</div>
		<div class="container zindex">
			<div class="row">
				<div class="col-lg-6 banner-txt">
					<span>The Ultimate</span>
					<h3>Marvel</h3>
					<h3 class="txt-pos">API.</h3>
					<div class="row banner-review">
						<div class="col-lg-3">
						</div>
						<div class="col-lg-4">
							<div class="stars">
							</div>
						</div>
					</div>
				</div>
				<div class="col-10 col-sm-11 col-md-7 col-lg-6 banner-images">
					<img src="/images/banner-icon.png" alt="banner-icon" class="banner-icon">
					<img src="/images/gray-characters.jpg" alt="banner-img" class="banner-img one img-fluid">
					<img src="/images/gray-characters-2.jpg" alt="banner-img" class="banner-img two img-fluid">
				</div>
			</div>
		</div>
	</section>

	@{
		int startYear = 2022;
		int currentYear = DateTime.Now.Year;
		int yearsOfExperience = currentYear - startYear;
	}

	<section id="about">
		<div class="container">
			<div class="row pt-5">
				<div class="col-lg-5 col-md-9 m-md-auto about-main">
					<img src="/images/portfolio-picture.jpg" alt="about-img" class="img-fluid">
					<div class="active-users">
						<h3 class="counter" data-counterup-time="2000" data-counterup-delay="30"
							data-counterup-beginat="1">5</h3><span>+</span>
						<p>Projects</p>
					</div>
					<div class="experience">
						<h3 class="counter" data-counterup-time="2000" data-counterup-delay="30"
							data-counterup-beginat="2">@yearsOfExperience</h3>
						<span>+</span>
						<p>Years of experience</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="about-txt">
						<span>About Me  |  Mislav bučar</span>
						<h3>Fullstack .NET developer</h3>
						<p class="pt-2 pb-4">@yearsOfExperience years of experience in
							building robust and scalable applications.
							My expertise lies in both backend and frontend technologies.</p>
						<div class="check-p">
							<p><i class="fa-solid fa-check"></i> Expertise in .NET Technologies</p>
							<p><i class="fa-solid fa-check"></i> Proficient in Backend and Frontend Development</p>
							<p><i class="fa-solid fa-check"></i> Passionate About Delivering Quality Solutions</p>
						</div>
						<a class="button-circular-2" href="https://github.com/MiBucar?tab=repositories"><i class="fa-brands fa-github"></i>
							Discover my work</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="team">
		<div class="container zindex">
			<div class="row">
				<div class="section-title t-white">
					<div class="row">
						<div class="col-lg-6">
							<span>The Project</span>
							<h3>Introduction.</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row align-items-center justify-content-around mb-5">
				<div class="col-lg-6 team-counter mb-4">
					<p class="pt-16">Welcome to MarvelApi, a web application bringing the Marvel comics universe to your
						fingertips.
						Utilizing cutting-edge .NET technologies, MarvelApi offers robust, scalable solutions with
						detailed information on Marvel characters via the
						Marvel Comics API, providing an immersive user experience.</p>
				</div>
				<div class="col-lg-3 col-md-6 team-item text-center">
					<div class="team-img">
						<img src="/images/marvel-logo.png" alt="team" class="img-fluid">
					</div>
				</div>
			</div>
			<div class="row team-counter-main">
				<div class="col-6 col-lg-3 team-counter">
					<p>Built with ASP.NET API and MVC</p>
				</div>
				<div class="col-6 col-lg-3 team-counter">
					<p>Utilizes Entity Framework Core for Data Management</p>
				</div>
				<div class="col-lg-6 col-lg-3 team-counter">
					<p>Frontend powered by Bootstrap and custom CSS</p>
				</div>
			</div>
		</div>
	</section>

	<section id="popular">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 section-title">
					<span>Popular</span>
					<h3>Explore Marvel Characters.</h3>
					<p>Explore detailed information, fascinating backstories, and stunning appearances of your favorite
						heroes and villains.</p>
					<a asp-controller="Character" asp-action="IndexCharacters" class="button-primary">Browse All</a>
				</div>
				@if (Model.CharacterDTOs.Any())
				{
					@for (int i = 0; i < Model.CharacterDTOs.Take(4).Count(); i++)
					{
						var character = Model.CharacterDTOs[i];
						<div class="col-lg-6 col-md-9 mobile-m-auto">
							<div class="popular-item @(i % 2 != 0 ? "right" : "") @(i == 3 ? "mb-0" : "")">
								<p>@character.FirstAppearanceYear</p>
								<div class="col-lg-10 @(i % 2 == 0 ? "ms-auto" : "me-auto")">
									<img src="@character.ImageUrl" alt="comic-book"
										 class="img-fluid">
									<a asp-controller="Character" asp-action="IndexCharacter" asp-route-id="@character.Id">@character.Name</a>
								</div>
							</div>
						</div>
					}
				}				
			</div>
		</div>
	</section>

	<section id="new-comics">
		<div class="container">
			<div class="row">
				<div class="section-title t-white">
					<div class="row">
						<div class="col-lg-6 m-auto text-center">
							<span>Popular</span>
							<h3>Explore most popular teams</h3>
							@if (!Model.TeamDTOs.Any())
							{
								<div class="team-counter mb-4">
									<p class="pt-16">
										No results
									</p>
								</div>
							}							
						</div>
					</div>
				</div>
			</div>
			<div class="row comic-item-pos">
				@if (Model.TeamDTOs.Any())
				{
					@for (int i = 0; i < Model.TeamDTOs.Take(3).Count(); i++)
					{
						var team = Model.TeamDTOs[i];
						<div class="col-lg-4 col-md-8 mobile-m-auto">
							<div class="comic-item @(i % 2 != 0 ? "active" : "")">
								<img src="@team.ImageUrl" alt="comic"
								class="img-fluid">
								<a class="veno-img" data-gall="comic1" href="@team.ImageUrl"><i class="fa-solid fa-plus"></i></a>
								<div class="comic-item-details">
									<div class="row">
										<div class="col-8 col-lg-8">
											<h3>@team.Name</h3>
										</div>
										<div class="col-4 col-lg-4 text-end">
											<a asp-action="IndexTeam" asp-controller="Team" asp-route-id="@team.Id"><i class="fa-solid fa-arrow-right"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					}
				}
				else
				{
					
				}
			</div>
		</div>
	</section>
</body>

</html>
