@using MarvelApi_Mvc.Models.DTOs.TeamDTOs
@model IEnumerable<TeamDTO>
<br />

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Team List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Team" asp-action="CreateTeam" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Create New Team</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-controller="Team" asp-action="UpdateTeam" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-pen"></i></a>
                        <form id="delete-form-@item.Id" asp-controller="Team" asp-action="DeleteTeam" asp-route-id="@item.Id" style="display:inline;">
                            <button type="submit" class="btn btn-danger" onclick="confirmDelete(event, '@item.Id')"><i class="fa-solid fa-trash"></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(event, itemId) {
        event.preventDefault();
        if (confirm('Are you sure you want to delete this item?')) {
            document.getElementById('delete-form-' + itemId).submit();
        }
    }
</script>