@using MarvelApi_Mvc.Models.ViewModels.Team
@model DisplayTeamViewModel

<body class="inner-page comic-detail-page">
	<section id="page-title">
		<div id="backtotop">
			<a href="#page-title" id="backtotop-value"><i class="fa-solid fa-arrow-up"></i></a>
		</div>
	</section>
	<section id="team-intro-section">
		<div class="container zindex">
			<div class="row details-pos">
				<div class="team-main-info-section">
                    <div class="col-lg-5 team-comic-detail-img">
                        <div class="team-comic-detail-img-container">
                            <img src="data:image/png;base64,@Convert.ToBase64String(Model.Team.Image)" alt="comic-img" class="img-fluid">
                        </div>						
					</div>
					<div class="col-lg-6 team-container">
						<h3 class="team-header">@Model.Team.Name</h3>
						<p class="team-description">@Model.Team.Description</p>
					</div>
				</div>				
			</div>
		</div>
	</section>
    <section id="team-section" class="@(!Model.Members.Any() ? "mb-0" : "")">
        <div class="container">
            <div class="row mb-4">
                <div class="section-title t-white">
                    <div class="row">
                        <div class="col-lg-6 m-auto text-center">
                            <h3>Members</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-members">
                @if (Model.Members.Any())
                {
                    @for (int i = 0; i < Model.Members.Count(); i++)
                    {
                        var character = Model.Members[i];
                        <div class="team-member-container">
                            <div class="team-comic-item">
                                <img src="data:image/png;base64,@Convert.ToBase64String(character.Image)" alt="comic"
                                     class="img-fluid">
                                <div class="team-comic-item-details">
                                    <div class="row">
                                        <div class="col-8 col-lg-8">
                                            <h3 class="team-comic-header">@character.Name</h3>
                                        </div>
                                        <div class="col-4 col-lg-4 text-end">
                                            <a asp-controller="Character" asp-action="IndexCharacter" asp-route-id="@character.Id"><i class="fa-solid fa-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="team-counter mb-5 text-center">
                        <p class="pt-16">
                            Nothing To Display
                        </p>
                    </div>
                }
            </div>
        </div>
    </section>
</body>