@using MarvelApi_Mvc.Models.DTOs.CharacterDTOs
@model IEnumerable<CharacterDTO>
<br />

<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Character List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Character" asp-action="CreateCharacter" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Create New Character</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Appearance)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Appearance)
                    </td>
                    <td>
                        <a asp-controller="Character" asp-action="UpdateCharacter" asp-route-id="@item.Id" class="btn btn-success"><i class="fa-solid fa-pen"></i></a>
                        <a asp-controller="Character" asp-action="DeleteCharacter" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>